{% extends "registration/base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block heading %}
  {% if validlink %}
    <h2>Enter new password</h2>
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
  {% else %}
    <h2>Whoops!</h2>
    <p>Sorry, that link expired. <a href="{% url 'password_reset' %}">Try again.</a></p>
  {% endif %}
{% endblock heading %}

{% block form %}
  {% if validlink %}
    <form method="post">
      {% csrf_token %}
      <fieldset>{{ form.as_div }}</fieldset>
      <button class="button primary">Change my password</button>
    </form>
  {% endif %}
{% endblock form %}
