{% extends "registration/base.html" %}
{% load static %}

{% block title %}
  Create an account
{% endblock title %}

{% block heading %}
  <h1>Create an account</h1>
{% endblock heading %}

{% block form %}
  <form method="post">
    {% csrf_token %}
    <fieldset>
      {{ form.as_div }}
    </fieldset>
    <p>
      By creating an account, you agree to our <a href="https://example.com/policies/terms" target="_blank">Terms of Service</a> and <a href="https://example.com/policies/privacy" target="_blank">Privacy Policy</a>.
    </p>
    <button class="button primary">Create your account</button>
  </form>
{% endblock form %}
