black
coverage
dj-database-url
django-browser-reload
django-debug-toolbar
django-extensions
django-htmx
Django
djlint
environs[django]
flake8
gunicorn
ipython
pip-lock
pip-tools
pre-commit
pytest-django
whitenoise
