black
coverage
dj-database-url
django-browser-reload
django-debug-toolbar
django-extensions
django-htmx
Django<5.0
djlint
environs[django]
gunicorn
ipython
pip-lock
pip-tools
pre-commit
pytest-django
whitenoise
